PORT=8000
DATABASE_URL="file:./dev.db"
JWT_SECRET=ANYTHING_YOU_LIKE
BCRYPT_SALT_OR_ROUNDS=10
PAYSTACK_CALLBACK_URL=http://localhost:3000/payments/callback
FCM_SERVER_KEY=
SMS_PROVIDER_KEY=
REDIS_URL=
